.o-linkBtn {
  color           : inherit;
  text-decoration :  underline;
  line-height     : inherit;
  font-size       : inherit;
  font-weight     : inherit;
  font-family     : inherit;

  background : transparent;

  cursor : pointer;

  border : none;
  display : inline-block;
}