.o-linkBtn {
  color           : inherit;
  text-decoration :  underline;
  line-height     : inherit;
  font-size       : inherit;
  font-weight     : inherit;
  font-family     : inherit;

  background : transparent;

  cursor : pointer;

  border : none;
  display : inline-block;
}

.o-primaryBtn {
  display : block;
  width : 100%;

  padding : .5em;

  color      : var(--main-bg-color);
  background : var(--npm-red);

  border : none;

  font-size : 1em;
  font-family : inherit;
}