.o-headline {
  &-1 {
  }

  &-2 {
    font-size   : 1.5em;
    font-weight : 600;
  }

  &-3 {
    font-size   : 1.25em;
    font-weight : 600;
  }

  &-4 {
    font-size   : 1.125em;
    font-weight : bold;
  }

  &-5 {
  }
}
