.u-paddingDefault {
  padding : 1em;
}

.u-noPadding {
  padding : 0;
}

.u-marginHorizontalSmall {
  margin-left  : .5em;
  margin-right : .5em;
}

.u-negativeMarginHorizontalSmall {
  margin-left  : -.5em;
  margin-right : -.5em;
}

.u-marginTopSmall {
  margin-top : .5em;
}

.u-marginBottom {
  margin-bottom : 1em;
}

.u-negativeBottomMarginTiny {
  margin-bottom : -.25em;
}

.u-marginBottomSmall {
  margin-bottom : .5em;
}

.u-marginRightSmall {
  margin-right : .5em;
}

.u-marginLeftSmall {
  margin-left : .5em;
}

.u-marginTopSmall {
  margin-top : .5em;
}

.u-marginLeftAuto {
  margin-left : auto;
}

.u-flex {
  display : flex;
}

.u-flexCenter {
  display : flex;

  align-items : center;
  justify-content : center;
}

.u-flexVerticalCenter {
  display : flex;

  align-items : center;
}

.u-flexSpaceBetween {
  justify-content : space-between;
}

.u-fillRed {
  fill : var(--svg-fill-red);
}

.u-fillGreen {
  fill : var(--svg-fill-green);
}

.u-fullHeight {
  height : 100%;
}

.u-visuallyHidden {
  border   : 0;
  clip     : rect(0 0 0 0);
  height   : 1px;
  margin   : -1px;
  overflow : hidden;
  padding  : 0;
  position : absolute;
  width    : 1px;
}

.u-positionRelative {
  position : relative;
}

.u-noBorderTop {
  border-top : none !important;
}